# Environments and Cache
__pycache__/
*.pyc
.env
venv/
env/
.vscode/
.idea/
MUJOCO_LOG.TXT

# Data and Checkpoints (NEVER commit these!)
data/
checkpoints/
plots/
*.hdf5
*.pth
*.pt

# External Repositories
external/