--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.6.0+cu124
torchvision
torchaudio
numpy
tqdm
h5py
matplotlib
einops
timm

robosuite==1.5.2
robosuite_models
mujoco==3.1.6
imageio
imageio[ffmpeg]
huggingface_hub
